<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand mr-0" style="width: 250px; padding-left: 10px" href="#">RTPOTS Fleet History</a>
        <!--<a class="navbar-brand col-sm-5 col-md-9 mr-0">Not APOTS-->

	<!-- TODO WHY won't ng-repeat work here? -->
	<!-- Ideally, you should have two directives to build each ripple set, passing a 'name' into the directive-->
        <!--<div class="col-sm-5 col-md-9 mr-0">
                <a class="ripple-parent {{statuses['Java'].statusStyle}}">
                        <span class="ripple {{statuses['Java'].statusStyle}}"></span>
                        <span class="ripple {{statuses['Java'].statusStyle}}"></span>
                        <span class="ripple {{statuses['Java'].statusStyle}}"></span>
                </a>
                <b class="rippleText">Java</b>
                <a class="ripple-parent {{statuses['Database'].statusStyle}}">
                        <span class="ripple {{statuses['Database'].statusStyle}}"></span>
                        <span class="ripple {{statuses['Database'].statusStyle}}"></span>
                        <span class="ripple {{statuses['Database'].statusStyle}}"></span>
                </a>
                <b class="rippleText">Database</b>
        </div>-->
        <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                        <a class="nav-link" href="#">Sign out</a>
                </li>
        </ul>
</nav>
